/*============
Page variables
==============*/

:root {
    /*color scheme*/
    --col-bg-page: hsl(0, 0%, 8%);
    --col-button: hsl(0, 0%, 20%);
    --col-bg-card: hsl(0, 0%, 12%);
    --col-highlight: hsl(75, 94%, 57%);
    --col-text: hsl(0, 0%, 100%);
  
    /*fonts*/
    --font-main: Inter, Verdana, sans-serif;

    --fontwght-header: 700;
    --fontwght-subheader: 600;
    --fontwght-text: 400;
  }
  
  /*======================================
    Back to Basics (reset browser defaults)
    =======================================*/
  html,
  body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 14px;
    line-height: 1.25;
  }
  
  body * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  /*reset default font - never shall Times New Roman be seen again!*/
  :is(h1, h2, h3, h4, h5, h6, p, a, li, figcaption) {
    font-family: Verdana, sans-serif;
  }
  
  :where(ul, ol) {
    list-style: none;
    margin: 0;
  }
  
  :where(ul, ol) a {
    text-decoration: none;
    color: inherit;
  }

  /*===========
   Page Layout
  =============*/
  html {
    height: 100%;
    position: relative;
  }
  
  body {
    background-color: var(--col-bg-page);
    height: 100%;
    display: grid;
    place-items: center;
  }

  main {
    background-color: var(--col-bg-card);
    max-width: clamp(320px, 375px, 25vw);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
  }

  figure {
    display: grid;
    place-items: center;
    padding-bottom: 1rem;
  }

  figure img {
    border-radius: 50%;
    margin-block-end: 1rem;
  }

  ul {
    width: 100%;
  }

  ul li {
    margin: 1rem 0;
    background-color: var(--col-button);
    text-align: center;
    border-radius: 0.5rem;
  }

  /*===============
    Text and Images
  =================*/

  figcaption, p, a {
    font-family: var(--font-main) ;
    color: var(--col-text);
  }

  figcaption {
    font-weight: var(--fontwght-header);
    font-size: 1.5rem;
  }

  .subheader {
    font-weight: var(--fontwght-subheader);
    color: var(--col-highlight);
  }

  .quote {
    margin: 1rem;
    font-size: smaller;
    opacity: 0.7;
  }

  li, p , a{
    font-weight: var(--fontwght-text);
  }

   /*======
    Buttons
    =======*/

  li a { 
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  
  li:has(:active, :hover) { 
    background-color: var(--col-highlight);
  }

  li:has(:active, :hover) a { 
    color: var(--col-bg-page);
    font-weight: bold;
  }

  /*frontend mentor attribution*/
  .attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 0;
    padding-block-end: 1em;
    color: var(--col-text);
  }
  
  .attribution a { 
    color: var(--col-highlight); 
  }
